In [2]:
#List of high schools
high_schools = ["Hernadez High School", "Figueroa High School", "Willson High School", "Wright High School"]

In [9]:
for school in high_schools:
    print(school)

Huang High School
Hernadez High School
Figueroa High School
Willson High School
Wright High School

In [5]:
#A dictionary of high schools and the type of schooL.
high_school_types = [{"High School": "Griffin", "Type": "District"}, 
                     {"High School": "Figueroa", "Type": "District"}, 
                     {"High School": "Wilson", "Type": "Charter"},
                     {"High School": "Wright", "Type": "Charter"}]

In [6]:
for school in high_school_types:
    print(school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [8]:
high_schools.insert(0, "Huang High School")

In [10]:
#List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernadez High School", "Griffin High School", "Wilson High School"]

In [11]:
for school in high_schools:
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernadez High School
Griffin High School
Wilson High School

In [12]:
# Add the Pandas dependency.
import pandas as pd

In [13]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

In [14]:
school_series

0       Huang High School
1    Figueroa High School
2     Shelton High School
3    Hernadez High School
4     Griffin High School
5      Wilson High School
dtype: object

In [15]:
print(school_series)

0       Huang High School
1    Figueroa High School
2     Shelton High School
3    Hernadez High School
4     Griffin High School
5      Wilson High School
dtype: object

In [30]:
school_series[0: 9]

0       Huang High School
1    Figueroa High School
2     Shelton High School
3    Hernadez High School
4     Griffin High School
5      Wilson High School
dtype: object

In [31]:
# A dictionary of high schools
high_school_dicts = [{"School ID" : 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID" : 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID" : 2, "school_name": "Shelton High School", "type": "Charter"},
                    {"School ID" : 3, "school_name": "Hernadez High School", "type": "District"},
                    {"School ID" : 4, "school_name": "Griffin High School", "type": "Charter"}]

In [32]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID           school_name      type
0          0     Huang High School  District
1          1  Figueroa High School  District
2          2   Shelton High School   Charter
3          3  Hernadez High School  District
4          4   Griffin High School   Charter

In [34]:
#Three separate lists of information on high schools
school_id = [0,1,2,3,4]
school_name = ["Huang High School", "Figueroa High School", "Shelton High School", "Hernadez High School", "Griffin High School" ]
type_school = ["District", "District", "Charter", "District", "Charter"]

In [35]:
#Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [42]:
#Add the list to a new DataFrame
schools_df["School ID"] = school_id
schools_df["School_Name"] = school_name
schools_df["Type"] = type_school

#Print the DataFrame
schools_df

   School ID           School_Name Type of School      Type
0          0     Huang High School       District  District
1          1  Figueroa High School       District  District
2          2   Shelton High School        Charter   Charter
3          3  Hernadez High School       District  District
4          4   Griffin High School        Charter   Charter

In [46]:
#Create a dictionary of information on high schools.
high_school_dict = {'School ID': school_id, 'school_name': school_name, 'type': type_school}

In [47]:
schools_2_df = pd.DataFrame(high_school_dict)

In [60]:
schools_2_df

   School ID           school_name      type
0          0     Huang High School  District
1          1  Figueroa High School  District
2          2   Shelton High School   Charter
3          3  Hernadez High School  District
4          4   Griffin High School   Charter

In [73]:
school_df

   School ID           school_name      type
0          0     Huang High School  District
1          1  Figueroa High School  District
2          2   Shelton High School   Charter
3          3  Hernadez High School  District
4          4   Griffin High School   Charter

In [69]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [70]:
school_df.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernadez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [80]:
school_df.keys()

Index(['School ID', 'school_name', 'type'], dtype='object')

In [89]:
high_school_dicts = [{"School ID" : 0, "school_name": "Huang High School", "type": "District"},
                    {"School ID" : 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID" : 2, "school_name": "Shelton High School", "type": "Charter"},
                    {"School ID" : 3, "school_name": "Hernadez High School", "type": "District"},
                    {"School ID" : 4, "school_name": "Griffin High School", "type": "Charter"},
                    {"School ID" : 5, "school_name": "Wilson High School", "type": "Charter"},
                    {"School ID" : 6, "school_name": "Cabrera High School", "type": "District"},
                    {"School ID" : 7, "school_name": "Bailey High School", "type": "District"},
                    {"School ID" : 8, "school_name": "Holden High School", "type": "Charter"},
                    {"School ID" : 9, "school_name": "Pena High School", "type": "Charter"}]

In [88]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID          school_name      type
0          5   Wilson High School   Charter
1          6  Cabrera High School  District
2          7   Bailey High School  District
3          8   Holden High School   Charter
4          9     Pena High School   Charter

In [90]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID           school_name      type
0          0     Huang High School  District
1          1  Figueroa High School  District
2          2   Shelton High School   Charter
3          3  Hernadez High School  District
4          4   Griffin High School   Charter
5          5    Wilson High School   Charter
6          6   Cabrera High School  District
7          7    Bailey High School  District
8          8    Holden High School   Charter
9          9      Pena High School   Charter

In [113]:
school_df = school_df.append({"School ID" : 14, "school_name": "Thomas High School", "type": "Charter"}, ignore_index=True)

In [145]:
school_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3   Hernadez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   Charter
6          6    Cabrera High School  District
7          7     Bailey High School  District
8          8     Holden High School   Charter
9          9       Pena High School   Charter
10        10     Wright High School   Charter
11        11  Rodriguez High School  District
12        12    Johnson High School  District
13        13       Ford High School  District
14       14      Thomas High School   Charter
15

In [146]:
school_df.drop(labels=[15], axis=0)

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3   Hernadez High School  District
4          4    Griffin High School   Charter
5          5     Wilson High School   Charter
6          6    Cabrera High School  District
7          7     Bailey High School  District
8          8     Holden High School   Charter
9          9       Pena High School   Charter
10        10     Wright High School   Charter
11        11  Rodriguez High School  District
12        12    Johnson High School  District
13        13       Ford High School  District
14       14      Thomas High School   Charter